
// 1. Include
@use "@coreui/coreui/scss/root";

// 2. Optionally include any other parts as needed
@use "@coreui/coreui/scss/utilities";
@use "@coreui/coreui/scss/reboot";
@use "@coreui/coreui/scss/type";
@use "@coreui/coreui/scss/images";
@use "@coreui/coreui/scss/containers";
@use "@coreui/coreui/scss/grid";
@use "@coreui/coreui/scss/helpers";

// 3. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@use "@coreui/coreui/scss/utilities/api";
